<div class="col-md-9">
  <p>&copy; Michael Vitz 2013-2014</p>
</div>
<div class="col-md-3">
  <p>
    <a href="https://github.com/mvitz" title="mvitz on Github">
      <i class="fa fa-github fa-lg"></i>
    </a>
    <a href="https://twitter.com/michaelvitz" title="michaelvitz on Twitter">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://facebook.com/michael.vitz" title="Michael Vitz on Facebook">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="https://google.com/+MichaelVitz" title="Michael Vitz on Google Plus">
      <i class="fa fa-google-plus fa-lg"></i>
    </a>
    <a href="http://xing.to/michaelvitz" title="Michael Vitz on Xing">
      <i class="fa fa-xing fa-lg"></i>
    </a>
    <a href="skype:michael.vitz?add" title="michael.vitz on Skype">
      <i class="fa fa-skype fa-lg"></i>
    </a>
    <a href="mailto:vitz.michael@googlemail.com" title="vitz.michael@googlemail.com">
      <i class="fa fa-envelope fa-lg"></i>
    </a>
  </p>
</div>
